body {
	font-family: "PT Serif", serif;
	width: 100%;
	background-color: #FFF;
}

container {
	width:100%;
}

header {
	text-align: center;
	border-bottom: solid 3px #000;
	padding: 4px;
}

#header h1 {
	font-weight: bold;
	font-size: x-large;
}

#menu-bar {
	top: -13px;
}

#content {
	float:left;
	width: 600px
}
